/* 
#FFFFFF
#000000
#73787C
#C5C6C7
#D7E5F0
Softer Blacks for readable text - #555, #444
Darker Black for important text - #333
*/

:root {
  --color-text-primary: #444;
  --color-text-important: #333;
  --color-text-secondary: #73787c;
  --color-body-primary: #c5c6c7;
  --color-body-secondary: #d7e5f0;
  --color-header-footer: #abdbff;
  --color-white: #ffffff;

  --color-palette-grey: #f2f4ef;
  --color-palette-blue: #c2e3f4;
  --color-palette-orange: #efb730;
  --color-palette-black: #030305;
}

* {
  box-sizing: border-box;
  color: var(--color-text-primary);

  /* font-size: 16px; */
}

html,
body {
  background-color: white;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body {
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: bold;
  /* color: var(--color-text-important); */
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}

body {
  background-color: var(--color-palette-grey);

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
  /* max-width: 50em; */
  line-height: 1.5;
  /* padding: 4em 1em; */
}

body > * {
  padding: 10px;
}

header,
footer {
  background-color: var(--color-palette-blue);
}
header > *,
footer > * {
}

header {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

.logo {
  height: 50px;
}

.headerRight {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: end;
}

main {
  background-color: var(--color-palette-grey);

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section {
  background-color: var(--color-white);
  padding: 10px;
  border-radius: 10px;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  /* margin: auto; */
  padding: 5px;
}

footer {
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.container {
  padding: 2px 4px;
}
